<!DOCTYPE html>

<html>

<head>
    <title>Error 404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Page not found</h1>
        <p>'{{url}}' not found</p>
    </div>
    {{>footer}}
</body>

</html>